{% extends 'users.html.twig' %}

{% block title %}Modification du profil de {{ app.user.firstname }} {{ app.user.name }}{% endblock %}

{% block body %}
<div class="row index">
    <div class="col-12 text-center">
        <h1>Modification du profil de {{ app.user.firstname }} {{ app.user.name }}</h1>
        {{ form(form) }}
    </div>
</div>


   
{% endblock %}
