{% extends 'users.html.twig' %}

{% block title %}Modification du mot de passe de {{ app.user.firstname }} {{ app.user.name }}{% endblock %}

{% block body %}
<div class="row">
    {% for message in app.flashes('error') %}
    <div class="col-12 text-center">
        <div class="alert alert-danger" role="alert">
            {{message }}
          </div>
    </div>
    {% endfor %}
</div>
<div class="row index">
    <div class="col-12 text-center">
        <h1>Modification du mot de passe de {{ app.user.firstname }} {{ app.user.name }}</h1>
        <form method="post">
            <div class="mb-3">
                <label for="pass" class="form-label">Mot de passe</label>
                <input type="password" class="form-control" name="pass" id="pass">
            </div>
            <div class="mb-3">
                <label for="pass2" class="form-label">Confirmer le mot de passe</label>
                <input type="password" class="form-control" name="pass2" id="pass2">
            </div>
            <button type="submit" class="btn btn-primary">Valider</button>
        </form>
    </div>
</div>


   
{% endblock %}
